<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${vehicleInfo.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">车牌号：</label>
								<div class="col-sm-8">
									<input id="vehicleNo" name="vehicleNo" th:value="${vehicleInfo.vehicleNo}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">所属系统部门(sys_dept#dept_id)：</label>
								<div class="col-sm-8">
									<input id="sysDeptId" name="sysDeptId" th:value="${vehicleInfo.sysDeptId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">车主姓名：</label>
								<div class="col-sm-8">
									<input id="driverName" name="driverName" th:value="${vehicleInfo.driverName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">联系电话：</label>
								<div class="col-sm-8">
									<input id="mobile" name="mobile" th:value="${vehicleInfo.mobile}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">车辆类型（0 小车、1 大车、2 中车）：</label>
								<div class="col-sm-8">
									<input id="vehicleType" name="vehicleType" th:value="${vehicleInfo.vehicleType}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">所关联的系统登录用户(sys_user#user_id)：</label>
								<div class="col-sm-8">
									<input id="sysUserId" name="sysUserId" th:value="${vehicleInfo.sysUserId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" th:value="${vehicleInfo.createTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">更新时间：</label>
								<div class="col-sm-8">
									<input id="updateTime" name="updateTime" th:value="${vehicleInfo.updateTime}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/freight/vehicleInfo/edit.js">
	</script>
</body>
</html>
