<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.freight.dao.PriceInfoDao">

	<select id="get" resultType="com.bootdo.freight.domain.PriceInfoDO">
		select `id`,`customer_id`,`cargo_id`,`customer_price`,`driver_price`,`d_customer_price`,`d_driver_price`,`create_time`,`update_time` from t_price_info where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.freight.domain.PriceInfoDO">
		select `id`,`customer_id`,`cargo_id`,`customer_price`,`driver_price`,`d_customer_price`,`d_driver_price`,`create_time`,`update_time` from t_price_info
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="customerId != null and customerId != ''"> and customer_id = #{customerId} </if>
		  		  <if test="cargoId != null and cargoId != ''"> and cargo_id = #{cargoId} </if>
		  		  <if test="customerPrice != null and customerPrice != ''"> and customer_price = #{customerPrice} </if>
		  		  <if test="driverPrice != null and driverPrice != ''"> and driver_price = #{driverPrice} </if>
		  		  <if test="dCustomerPrice != null and dCustomerPrice != ''"> and d_customer_price = #{dCustomerPrice} </if>
		  		  <if test="dDriverPrice != null and dDriverPrice != ''"> and d_driver_price = #{dDriverPrice} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_price_info
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="customerId != null and customerId != ''"> and customer_id = #{customerId} </if>
		  		  <if test="cargoId != null and cargoId != ''"> and cargo_id = #{cargoId} </if>
		  		  <if test="customerPrice != null and customerPrice != ''"> and customer_price = #{customerPrice} </if>
		  		  <if test="driverPrice != null and driverPrice != ''"> and driver_price = #{driverPrice} </if>
		  		  <if test="dCustomerPrice != null and dCustomerPrice != ''"> and d_customer_price = #{dCustomerPrice} </if>
		  		  <if test="dDriverPrice != null and dDriverPrice != ''"> and d_driver_price = #{dDriverPrice} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.freight.domain.PriceInfoDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_price_info
		(
			`customer_id`, 
			`cargo_id`, 
			`customer_price`, 
			`driver_price`, 
			`d_customer_price`, 
			`d_driver_price`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{customerId}, 
			#{cargoId}, 
			#{customerPrice}, 
			#{driverPrice}, 
			#{dCustomerPrice}, 
			#{dDriverPrice}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.freight.domain.PriceInfoDO">
		update t_price_info 
		<set>
			<if test="customerId != null">`customer_id` = #{customerId}, </if>
			<if test="cargoId != null">`cargo_id` = #{cargoId}, </if>
			<if test="customerPrice != null">`customer_price` = #{customerPrice}, </if>
			<if test="driverPrice != null">`driver_price` = #{driverPrice}, </if>
			<if test="dCustomerPrice != null">`d_customer_price` = #{dCustomerPrice}, </if>
			<if test="dDriverPrice != null">`d_driver_price` = #{dDriverPrice}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_price_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_price_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>